* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    background: #0be93b;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.logo img {
  
  width: 150px;
  border-radius: 5px;
  margin-left: -10px;
 
  
}


nav ul {
    display: flex; 
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a {
  position: relative;
    color: rgb(30, 30, 183);
    font-size: 16px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
    nav ul li a:hover {
      background-color: #4CAF50; 
      color: #fff; 
    }

@media screen and (max-width: 768px) {
    
  
    nav{
      
       height: 240px; 
     
    }
   
  
  .logo img {
        width: 100px; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
        margin-top: 35px;
    }

    nav ul li {
        margin: 10px 0; 
    }
}