@page "/"

<div class="top-layer">
    <img src="images\Orthopaedi-injuries.jpg" alt="Slide Image" class="image">
    <h1>
        Bio-Kinetics = Life Through Movement
    </h1>
</div>

@* <div class="carousel">
  <ul class="slides">
    @foreach (var image in Images)
    {
      <li><img src="C:\Users\Tiago.Ngobeni\Downloads\Orthopaedi-injuries" alt="Slide Image" class="image"></li>
    }
  </ul>
  <div class="controls">
    <button type="button" class="prev" onclick="@(() => ChangeSlide(-1))">&#10094;</button>
    <button type="button" class="next" onclick="@(() => ChangeSlide(1))">&#10095;</button>
  </div>
  <ul class="indicators">
    @for (int i = 0; i < Images.Count; i++)
    {
      <li @onclick="@(() => ChangeSlide(i))" class="@(i == CurrentSlide ? "active" : "")"></li>
    }
  </ul>
</div>

@code {
  private List<string> Images = new List<string>() { "image1.jpg", "image2.jpg", "image3.jpg" }; // Replace with your image paths
  private int CurrentSlide = 0;

  protected override async Task OnInitializedAsync()
  {
    await StartTimer();
  }

  private async Task StartTimer()
  {
    while (true)
    {
      await Task.Delay(5000); // Change 5000 to 5000 milliseconds (5 seconds)
      ChangeSlide(1);
    }
  }

  private void ChangeSlide(int change)
  {
    CurrentSlide = (CurrentSlide + Images.Count + change) % Images.Count;
  }
} *@