@page "/service"

<div class="about-section">
        <h1>Services</h1>
        <p>We offer wellness and health therapy in our different branches.</p>
    
      </div>
      
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="chronic.jpg" alt="Jane" style="width: 100%">
            <div class="container">
              <h2>Chronic Management</h2>
              <p class="title"></p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
    
             
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="sports.jpg" alt="Mike" style="width: 100%">
            <div class="container">
              <h2>Sports Performance Testing and Rehabilitation</h2>
        
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              
             
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="weight.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>Weight Management</h2>
              <p class="title"></p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            
              
            </div>
          </div>
        </div>
      </div>
      <p><button class="button">Book</button></p>
