/* _content/TR-Biokinetics/Components/Layout/Footer.razor.rz.scp.css */
/* _content/TR-Biokinetics/Components/Layout/MainLayout.razor.rz.scp.css */
*[b-z2gy0a8wyn] {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* _content/TR-Biokinetics/Components/Layout/NavMenu.razor.rz.scp.css */
*[b-j6uj7cb6xd] {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body[b-j6uj7cb6xd] {
    font-family: "Poppins", sans-serif;
}

nav[b-j6uj7cb6xd] {
    background: #0be93b;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

.logo img[b-j6uj7cb6xd] {
  
  width: 150px;
  border-radius: 5px;
  margin-left: -10px;
 
  
}


nav ul[b-j6uj7cb6xd] {
    display: flex; 
}

nav ul li[b-j6uj7cb6xd] {
    margin: 0 10px; 
}

nav ul li a[b-j6uj7cb6xd] {
  position: relative;
    color: rgb(30, 30, 183);
    font-size: 16px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
    nav ul li a:hover[b-j6uj7cb6xd] {
      background-color: #4CAF50; 
      color: #fff; 
    }

@media screen and (max-width: 768px) {
    
  
    nav[b-j6uj7cb6xd]{
      
       height: 240px; 
     
    }
   
  
  .logo img[b-j6uj7cb6xd] {
        width: 100px; 
    }

    nav ul[b-j6uj7cb6xd] {
        flex-direction: column; 
        align-items: center; 
        margin-top: 35px;
    }

    nav ul li[b-j6uj7cb6xd] {
        margin: 10px 0; 
    }
}
/* _content/TR-Biokinetics/Components/Pages/About.razor.rz.scp.css */

.column[b-848hzq6340] {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card[b-848hzq6340] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section[b-848hzq6340] {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container[b-848hzq6340] {
    padding: 0 16px;
  }
  
  .container[b-848hzq6340]::after, .row[b-848hzq6340]::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title[b-848hzq6340] {
    color: grey;
  }
  
  .button[b-848hzq6340] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover[b-848hzq6340] {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column[b-848hzq6340] {
      width: 100%;
      display: block;
    }
  }
  
