
.column[b-848hzq6340] {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card[b-848hzq6340] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section[b-848hzq6340] {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container[b-848hzq6340] {
    padding: 0 16px;
  }
  
  .container[b-848hzq6340]::after, .row[b-848hzq6340]::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title[b-848hzq6340] {
    color: grey;
  }
  
  .button[b-848hzq6340] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover[b-848hzq6340] {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column[b-848hzq6340] {
      width: 100%;
      display: block;
    }
  }
  